body{
	font-family: "Montserrat";
	text-align: center;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Montserrat-Bold";
	
}

.big-heading{
	font-size: 3em;
	line-height: 1.5;
}
.section-heading{
	font-family: "Montserrat-Black";
	font-size: 3em;
	line-height: 1.5;
	color: black;
	font-style: bold;
	font-weight: bold;
}
.price-text{
	font-size: 3em;
	line-height: 1.5;
}
p{
	color: #8f8f8f;
}
.icon{
	color: #ef8172;
	margin-bottom: 1rem;
}
.icon:hover{
	color: #ff4c68;
}
.container-fluid{
	padding: 7% 15%;
}


.navbar{
	padding: 0 0 4.5rem;
}

.navbar-brand{
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}

.nav-item{
	padding-left: 18px;
	padding-right: 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-family: "Montserrat-Light";
}

.download-button{
	margin: 5% 3% 5% 0%;
}

#title{
	background-color:#ff4c68;
	color: white;
	text-align: left;
}
.iphone6{
	/*padding: 3% 0 0 0;*/
	transform: rotate(20deg);
	position: absolute;
	width: 60%;
	right: 30%;
}
#features{
	padding: 7% 15%;
	background-color: white;
	position: relative;
	/*z-index: 1;*/
}

.feature-box{
	padding: 5%;
}
.feature-title{
	font-size: 1.5rem;
}
#testimonials{
	background-color:#ef8172; 
	color: white;
}
.testimonial-text{
	font-size: 3em;
	line-height: 1.5;
}
.testimonial-image{
	border-radius: 100%;
	width: 10%;
	margin:20px;
}
#press{
	background-color:#ef8172; 
	padding-bottom: 3%;
}
.press-logo{
	width: 15%;
	margin:20px 20px 50px;
} 
.carousel-item{
	padding: 7% 15%;
}
#pricing{
	padding:100px;
}
.pricing-column{
	padding: 3% 2%;	
}
#cta{
	background-color: #ff4c68;
	align-content: center;
	color: white;
	
	padding: 7% 15%;
}
#footer{
	align-content: center;
	padding: 7% 15%;
}
.cta-heading{
	font-family: "Montserrat-Black";
	font-size: 3.5rem;
	line-height: 1.5;
}
.social-icon{
	margin: 20px 10px;
}
@media (max-width: 1028px)
#title{
	text-align: center;
}
.title-image{
	position:static;
	transform:rotate(0);
}
}